.is-active{
	display: inherit;
	opacity: 1!important;
	@include transition(all .5s ease-in-out);
}
.is-inactive{
	display: none;
	opacity: 0;
	@include transition(all .5s ease-in-out);
}
.is-visible{
	visibility: visible;
	@include transition(all .5s ease-in-out);
}
.is-hidden{
	visibility: hidden;
	@include transition(all 1s ease-in-out);
}

.is-disabled{
	opacity:.15!important;
	cursor: default;
	&:hover{
		cursor: default!important;
	}
	a{
		cursor: default;
		&:hover{
			cursor: default!important;
			border: none!important;
		}
	}
}

.is-enabled{
	opacity: 1;
	cursor: pointer;
	&:hover{
		cursor:pointer;
	}
}

.is-scrollable{
	overflow:auto!important;
}

a.no-decoration, a:hover.no-decoration{
  text-decoration: none!important;
  border:none!important;
}

.is-saturated{
	@include filter(saturate(130%));
}

.is-full-width{
	width:100vw!important;
	@include transition(width 1s ease-in-out);
}

.is-full-height{
	width:100vh!important;
	@include transition(width 1s ease-in-out);
}

.flipped .back-image{
  transform: rotateY(0deg)!important;
  z-index:303!important;
}

.flipped .front-image{
  transform: rotateY(180deg)!important;
  z-index:303!important;
}

.bring-to-front{
	z-index: 304!important;
	//@include transition(all .25s ease-in-out);
}
.send-back{
	z-index: 0!important;
	//@include transition(all .25s ease-in-out);
}

.faded{
	opacity: .35;
}
.has-overlay{
	opacity: .25;
}
.nobg{
	&:before{
		background: transparent!important;
	}
	&:after{
		background: transparent!important;
	}
}

.inline{
	display: inline-block;
}

.position-is-static{
	position: static!important;
}