#events{
    @include transition(opacity 1s ease-in-out);
    h1.title{
    	margin-bottom: 3.75vh;
    }
}


#events{
    padding: 0;
    margin: 0 2.769vw;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 10vh;
    margin-top: 10.3vh !important;
    height: 79.6vh;
    overflow-y: auto;

    @include media($v-iphone-6-plus){
    	height:72vh;
    }
	

    div.left{
    	display: inline-block;
    	width: 28%;
    	margin-right: 6.75%;
    	vertical-align: top;



    	@include media($mobile){
    		display: block;
    		width:100%;
    		margin:0 auto;
    	}

    	h2{
			border-bottom: 6px solid $orange;
			width: auto;
			padding-bottom: 13px;
			font:$mp-label;
			letter-spacing: 0;
			
			@include media($xl-desktop){
				font:$xl-label;
			}
			@include media($macbook-pro-13){
				font:$label;
			}
			@include media($mobile){
				font:$lg-label;
			}
			@include media($v-ipad-max-screen){
				font:$label;
			}
			
		}

		div.header{
			overflow: hidden;
		}
		div#articles-container{

			
			div.news-article{
				position: relative;
				text-align: center;
				cursor: pointer;
				.left{
					display: inline-block!important;
					width:80%;
					margin-right: 1%;
					@include media($h-ipad-max-screen){
						width:90%;
					}
					@include media($mobile){
			    		margin:0 6% 0 0!important;
			    	}
				}
				.right{
					display: inline-block!important;
					width:8%;
					@include media($h-ipad-max-screen){
						width:3%;
					}
					@include media($mobile){
			    		margin:0!important;
			    	}
				}

				div.article-container{
					margin-bottom: 4.375vh;
					height: 24.5vh;
					overflow: hidden;


					div.article-image{
						width: 100%;
						height: 25.33vh;
						min-height:203px;
						background-size: cover;
						positon: relative;
						opacity: 1;
						background: white; /* For browsers that do not support gradients */
					    background: -webkit-linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.01)); /* For Safari 5.1 to 6.0 */
					    background: -o-linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.01)); /* For Opera 11.1 to 12.0 */
					    background: -moz-linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.01)); /* For Firefox 3.6 to 15 */
					    background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.01)); /* Standard syntax (must be last) */
					}
					img#coming-soon{
						position: absolute;
						z-index: 100;
						top: 30%;
						left: 0;
						right:0;
						margin: 0 auto;

					}
					div.article-date{
						@include position(absolute, 12px null null 12px);
						text-align: center;
						h3.month{
							font:$mp-paragraphB;
							letter-spacing: 0;
							
							@include media($xl-desktop){
								font:$xl-paragraphB;
							}
							@include media($macbook-pro-13){
								font:$paragraphB;
							}
							@include media($mobile){
								font:$lg-paragraphB;
							}
						}
						h4.day{
							font:$mp-day;
							letter-spacing: 0;
							
							@include media($xl-desktop){
								font:$xl-day;
							}
							@include media($macbook-pro-13){
								font:$day;
							}
							@include media($mobile){
								font:$day;
							}
						}	
					}
					.article-text{
						@include position(absolute, null null -15px 12px);

						p{
							text-align: left;
							span{
								color: white!important;
							}
						}
						
						.article-title{ 
							margin-bottom:10px;
							
							span{
								font:$mp-paragraph;
								letter-spacing: 0;
								font-family: $gothamM!important;
								
								@include media($xl-desktop){
									font:$xl-paragraph;
								}
								@include media($macbook-pro-13){
									font:$paragraph;
								}
								@include media($mobile){
									font:$lg-paragraph;
								}
							}
						}
						.article-hint{
							width:80%;
							font: $lg-paragraph;
							margin-bottom: 10px;
							opacity:0;
							color: white!important;

							@include media($xl-desktop){
								font:$paragraph;
							}
							@include media($macbook-pro-13){
								font:$lg-paragraph;
							}
							@include media($mobile){
								font:$md-paragraph;
							}
						}		
						
						a.arrow-container{
							opacity:0;
							cursor:pointer;
							img.arrow{
								width: auto;
								height:10px;
								margin-top:0px;
								@include transform(rotate(-90deg));
							}	
						}	
					}
					
				}

				&.active-article{
					div.article-container{

						div.article-image{

							@include keyframes(img-fade-in) {
							   0% { 

							   	opacity: .5;
								background-image: url('../images/article1-normalstate.png');
							   }
							   50%{
							   	opacity: .55;
								
								
							   }
							   100% { 

							   	opacity: .65; 

							   }
							}
							@include animation(img-fade-in 1s linear);
							@include animation-fill-mode(forwards);
							@include animation-timing-function(ease);
							
						}
						.article-text{

							.article-hint, .arrow-container{
								 opacity:1;

								 @include keyframes(img-fade-in3) {
								   0% { 
									opacity: 0;
								   	
								   }
								   100% { 

								   	opacity: 1; 

								   }
								}
								@include animation(img-fade-in3 1s linear);
								@include animation-fill-mode(forwards);
								@include animation-timing-function(ease);	
								
							}

							@include keyframes(img-fade-in2) {
							   0% { 
								opacity: 1;
							   	
							   }
							   100% { 

							   	opacity: 1; 
							 	@include transform(translateY(-30px));

							   }
							}
							@include animation(img-fade-in2 1s linear);
							@include animation-fill-mode(forwards);
							@include animation-timing-function(ease);	
						}
						
					}
				}

				&.inactive-article{
					div.article-container{

						div.article-image{

							@include keyframes(img-fade-out) {
							   0% { 

							   	opacity: .5;
								background-image: url('../images/article1-hoverstate.png');
							   }
							   50%{
							   	opacity: .55;
								
								
							   }
							   100% { 

							   	opacity: .6; 

							   }
							}
							@include animation(img-fade-out 1s linear);
							@include animation-fill-mode(forwards);
							@include animation-timing-function(ease);
							
						}
						.article-text{

							.article-hint, .arrow-container{
								 opacity:0;

								 @include keyframes(img-fade-out3) {
								   0% { 
									opacity: 1;
								   	
								   }
								   100% { 

								   	opacity: 0; 

								   }
								}
								@include animation(img-fade-out3 1s linear);
								@include animation-fill-mode(forwards);
								@include animation-timing-function(ease);	
								
							}
							

							@include keyframes(img-fade-out2) {
							   0% { 
								opacity: 1;
								@include transform(translateY(-30px));
							   	
							   }
							   100% { 

							   	opacity: 1; 
							 	@include transform(translateY(0px));

							   }
							}
							@include animation(img-fade-out2 2s linear);
							@include animation-fill-mode(forwards);
							@include animation-timing-function(ease);	
						}
						
					}
				}	
				
				
			}
		}
		#article1{
			div.article-image{
				// background-image: url('../images/article1-normalstate.png');
			}
			&.inactive-article{
				div.article-image{
					background-image: url('../images/article1-normalstate.png');
				}
			}
		}
    }
    div.right{
    	display: inline-block;
    	width:57%;
    	vertical-align: top;

    	@include media($mobile){
    		display: block;
    		width:100%;
    		margin:0 auto;
    	}
		
		h2{
			border-bottom: 6px solid $orange;
			width: 185px;
			padding-bottom: 13px;
			font:$mp-label;
			letter-spacing: 0;
			
			@include media($xl-desktop){
				font:$xl-label;
			}
			@include media($macbook-pro-13){
				font:$label;
				width: 170px;
			}
			@include media($mobile){
				font:$lg-label;
				width: 100%;
			}
			@include media($v-ipad-max-screen){
				font:$label;
			}
			
		}

		div#events-container{

		
			div.event{
				position: relative;
				text-align: left;
				cursor: pointer;
				margin-top: 30px;
				padding-bottom: 30px;
				border-bottom: .5px solid $orange;


				div.events-container{
					text-align: left;

					div.events-date{
						text-align: center;
						display: inline-block;
						width: auto;
						margin-right: 30px;
						vertical-align: top;
						h3.month{
							font:$mp-paragraphB;
							letter-spacing: 0;
							
							@include media($xl-desktop){
								font:$xl-paragraphB;
							}
							@include media($macbook-pro-13){
								font:$paragraphB;
							}
							@include media($mobile){
								font:$lg-paragraphB;
							}
						}
						h4.day{
							font:$mp-day;
							letter-spacing: 0;
							
							@include media($xl-desktop){
								font:$xl-day;
							}
							@include media($macbook-pro-13){
								font:$day;
							}
							@include media($mobile){
								font:$day;
							}
						}	
					}
					.events-text{
						display: inline-block;
						width:80%;
						text-align: left;
						vertical-align: top;

						@include media($h-ipad-max-screen){
							width:100%;
						}

						p{
							text-align: left;
							span{
								color: white!important;
							}
						}
						.article-title{ 
							margin-bottom:10px;
							
							span{
								font:$mp-paragraph;
								letter-spacing: 0;
								font-family: $gothamM!important;
								
								@include media($xl-desktop){
									font:$xl-paragraph;
								}
								@include media($macbook-pro-13){
									font:$paragraph;
								}
								@include media($mobile){
									font:$lg-paragraph;
								}
							}
						}
						.article-hint{
							width:80%;
							font-size: 12px;
							line-height: 14px;
							 margin-bottom: 10px;
							 opacity:0;
							 display: none;
							 color: white!important;
							 @include transition(all .35s ease-in-out);
						}
						a.arrow-container{
							opacity:0;
							display: none;
							cursor:pointer;
							@include transition(all .35s ease-in-out);
							img.arrow{
								width: 24px;
								min-height: 8px;
							}	
						}	
					}
					
				}

				&.active-article{
					div.article-container{
						div.article-image{
							&:before{
								background: none;
								@include transition(all .35s ease-in-out);
							}
						}
						.article-text{
							.article-hint{
								 opacity:1;
								 display: block;
								 @include transition(all .35s ease-in-out);
							}
							a.arrow-container{
								opacity:1;
								display: block;
								@include transition(all .35s ease-in-out);
							}	
						}
						
					}
				}	
				
				
			}
		}
    }
}