.cta{
	@include position(absolute, null 0 6.25vh 0);
	margin: 0 auto;
	text-align: center;
	color: $orange;
	
	
	img {
		@include media($v-iphone-6-plus){
	        max-width: 290px;
	        margin-left: 0;
	    }
	    @include media($h-iphone){
			max-width: 23px;
		}
    }
  	@include media($h-iphone){
	    @include position(fixed, 90% 0 null 0); 
	}
	@include media($h-iphone-5){
		@include position(fixed, 90% 0 null 0); 
	}
    @include media($v-iphone-6-plus){
	    @include position(fixed, 90% 0 null 0); 
	}
}

.cta.ios-fix{
	 @include media($h-ipad-max-screen){
	   @include position(fixed, auto 0 16vh 0); 
	}
	@include media($h-iphone){
	    @include position(fixed, auto 0 5vh 0);
	}
	@include media($h-iphone-5){
		@include position(fixed, auto 0 16vh 0);
	}
    @include media($v-iphone-6-plus){
	    @include position(fixed, auto 0 16vh 0);
	}
}

#copyright-links{
	font:$lg-paragraph;
	letter-spacing: 0;
	vertical-align: middle;
	@include position(absolute, null 20px 20px null);
	
	@include media($xl-desktop){
		font:$mp-paragraph;
	}
	@include media($macbook-pro-13){
		font:$lg-paragraph;
	}
	@include media($mobile){
		font:$md-paragraph;
		bottom:10px;
		right: 10px;
		&.ios-fix{
			bottom:8%!important;
		}
	}
	@include media($h-ipad-max-screen){
		@include position(fixed, null 3% 4% null);
		font:$lg-paragraph;
		&.ios-fix{
			bottom:10%!important;
		}
	}
	@include media($h-iphone){
		&.ios-fix{
			right:3%!important;
			bottom:90px!important;
		}
	}
	@include media($v-ipad-screen){
		@include position(fixed, null 3% 4% null);
		&.ios-fix{
			bottom:10%!important;
		}
	}
	@include media($v-iphone-6-plus){
		font:$md-paragraph;
		@include position(fixed, null 3% 40px null);
		&.ios-fix{
			bottom:90px!important;
		}
	}
	@include media($v-iphone-5){
		font:$xs-paragraph;
		&.ios-fix{
			bottom:8%!important;
		}
	}

	
	a{
		font:$lg-paragraphB;
		letter-spacing: 0;
		vertical-align: middle;
		
		@include media($xl-desktop){
			font:$mp-paragraphB;
		}
		@include media($macbook-pro-13){
			font:$lg-paragraphB;
		}
		@include media($h-ipad-max-screen){
			font:$sm-paragraphB;
		}
		@include media($mobile){
			font:$md-paragraphB;
		}

		@include media($v-iphone-6-plus){
			font:$sm-paragraphB;
		}

		@include media($v-iphone-5){
			font:$xs-paragraphB;
		}

	}
}

#terms-of-service{
	padding-right:10px;
	@include media($v-iphone-6-plus){
		padding-right:5px;
	}
}
#privacy-policy{
	padding-left:10px;
	@include media($v-iphone-6-plus){
		padding-left:4px;
	}
}
#section-7{

	.cta{
		@include media($v-iphone-6-plus){
			display: none;
		}
		p{
		margin-bottom:4.125%;
		font-size: 1.5rem!important;
		line-height: 1.6rem;
		@include media($mobile){
			margin-bottom: 4.125%;
	        font-size: 1.2rem!important;
		}
		@include media($v-iphone-6-plus){
			margin-bottom: 4.125%;
	        font-size: 1rem!important;
	        line-height: 1.2rem;
		}
		@include media($h-iphone){
			font-size: .525rem!important;
			margin-bottom: 0!important;
			height: 25px!important;
		}
		@include media($h-iphone-5){
			font-size: .525rem!important;
			margin-bottom: 0!important;
			height: auto!important;
		}
	}
	}
	
}